body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1432px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54 {
  position:absolute;
  left:-4px;
  top:7px;
  width:1440px;
  height:904px;
  overflow:hidden;
  visibility:hidden;
}
#u54_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:904px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u54_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1541px;
  height:1010px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:-54px;
  top:-25px;
  width:1541px;
  height:1010px;
}
#u56 {
  position:absolute;
  left:2px;
  top:497px;
  width:1537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u57 {
  position:absolute;
  left:477px;
  top:289px;
  width:480px;
  height:296px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u58 {
  position:absolute;
  left:16px;
  top:140px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u60 {
  position:absolute;
  left:477px;
  top:289px;
  width:480px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u61 {
  position:absolute;
  left:24px;
  top:16px;
  width:432px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u63 {
  position:absolute;
  left:921px;
  top:310px;
  width:12px;
  height:12px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u64 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u65 {
  position:absolute;
  left:933px;
  top:304px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u68 {
  position:absolute;
  left:477px;
  top:521px;
  width:480px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u69 {
  position:absolute;
  left:16px;
  top:24px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u70 {
  position:absolute;
  left:871px;
  top:537px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u72 {
  position:absolute;
  left:799px;
  top:537px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u73 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u74 {
  position:absolute;
  left:876px;
  top:521px;
  width:16px;
  height:16px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:876px;
  top:569px;
  width:16px;
  height:16px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:567px;
  top:414px;
  width:300px;
  height:40px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:908px;
  top:300px;
  width:38px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  position:absolute;
  left:799px;
  top:537px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  position:absolute;
  left:871px;
  top:537px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:904px;
  background:inherit;
  background-color:rgba(0, 0, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:-4px;
  top:7px;
  width:1440px;
  height:904px;
}
#u83 {
  position:absolute;
  left:2px;
  top:444px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u84 {
  position:absolute;
  left:16px;
  top:31px;
  width:32px;
  height:23px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1372px;
  height:64px;
  background:inherit;
  background-color:rgba(4, 5, 35, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:64px;
  top:7px;
  width:1372px;
  height:64px;
}
#u87 {
  position:absolute;
  left:2px;
  top:24px;
  width:1368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:28px;
}
#u88 {
  position:absolute;
  left:86px;
  top:29px;
  width:161px;
  height:28px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:28px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u90 {
  position:absolute;
  left:1366px;
  top:32px;
  width:15px;
  height:15px;
}
#u91 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u92 {
  position:absolute;
  left:1400px;
  top:29px;
  width:21px;
  height:21px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u94 {
  position:absolute;
  left:1326px;
  top:30px;
  width:21px;
  height:21px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:74px;
}
#u96 {
  position:absolute;
  left:1202px;
  top:71px;
  width:219px;
  height:74px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u97 {
  position:absolute;
  left:2px;
  top:13px;
  width:215px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:530px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:943px;
  top:229px;
  width:404px;
  height:530px;
}
#u99 {
  position:absolute;
  left:2px;
  top:257px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(51, 51, 51, 0.647058823529412);
  line-height:24px;
}
#u100 {
  position:absolute;
  left:1009px;
  top:242px;
  width:270px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(51, 51, 51, 0.647058823529412);
  line-height:24px;
}
#u101 {
  position:absolute;
  left:20px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:990px;
  top:298px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:1290px;
  top:298px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:960px;
  top:451px;
  width:16px;
  height:16px;
}
#u107 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.647058823529412);
  line-height:22px;
}
#u108 {
  position:absolute;
  left:976px;
  top:448px;
  width:65px;
  height:22px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.647058823529412);
  line-height:22px;
}
#u109 {
  position:absolute;
  left:8px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u110 {
  position:absolute;
  left:960px;
  top:493px;
  width:368px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u111 {
  position:absolute;
  left:16px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u112 {
  position:absolute;
  left:960px;
  top:322px;
  width:368px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u113 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:960px;
  top:362px;
  width:368px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u115 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u116 {
  position:absolute;
  left:973px;
  top:336px;
  width:16px;
  height:16px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u118 {
  position:absolute;
  left:960px;
  top:385px;
  width:368px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u119 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u120 {
  position:absolute;
  left:960px;
  top:423px;
  width:368px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u121 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u122 {
  position:absolute;
  left:974px;
  top:398px;
  width:14px;
  height:14px;
}
#u123 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  line-height:21px;
}
#u126 {
  position:absolute;
  left:759px;
  top:858px;
  width:61px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  line-height:21px;
}
#u127 {
  position:absolute;
  left:4px;
  top:8px;
  width:57px;
  white-space:nowrap;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u128 {
  position:absolute;
  left:747px;
  top:871px;
  width:12px;
  height:12px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u129 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  line-height:21px;
}
#u131 {
  position:absolute;
  left:681px;
  top:858px;
  width:69px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  line-height:21px;
}
#u132 {
  position:absolute;
  left:0px;
  top:8px;
  width:65px;
  white-space:nowrap;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:1130px;
  top:652px;
  width:48px;
  height:48px;
  opacity:0;
  color:#FFFFFF;
}
#u134 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:1142px;
  top:750px;
  width:24px;
  height:24px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.647058823529412);
  line-height:21px;
}
#u138 {
  position:absolute;
  left:1035px;
  top:545px;
  width:219px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.647058823529412);
  line-height:21px;
}
#u139 {
  position:absolute;
  left:4px;
  top:8px;
  width:215px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:960px;
  top:493px;
  width:368px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:116px;
}
#u141 {
  position:absolute;
  left:1006px;
  top:584px;
  width:277px;
  height:116px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:273px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#108EE9;
  line-height:21px;
}
#u144 {
  position:absolute;
  left:1093px;
  top:709px;
  width:103px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#108EE9;
  line-height:21px;
}
#u145 {
  position:absolute;
  left:4px;
  top:8px;
  width:99px;
  white-space:nowrap;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:530px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  position:absolute;
  left:86px;
  top:229px;
  width:832px;
  height:530px;
}
#u147 {
  position:absolute;
  left:2px;
  top:257px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  position:absolute;
  left:474px;
  top:486px;
  width:85px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:1078px;
  top:723px;
  width:13px;
  height:12px;
}
#u151 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:116px;
}
#u152 {
  position:absolute;
  left:1006px;
  top:763px;
  width:277px;
  height:116px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u153 {
  position:absolute;
  left:2px;
  top:42px;
  width:273px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:1078px;
  top:769px;
  width:13px;
  height:12px;
}
#u155 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#108EE9;
  line-height:21px;
}
#u157 {
  position:absolute;
  left:1095px;
  top:755px;
  width:103px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#108EE9;
  line-height:21px;
}
#u158 {
  position:absolute;
  left:4px;
  top:8px;
  width:99px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:1078px;
  top:709px;
  width:128px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u160 {
  position:absolute;
  left:1070px;
  top:752px;
  width:128px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
