body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:947px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3098 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:947px;
}
#u3099 {
  position:absolute;
  left:2px;
  top:466px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3100 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
}
#u3101 {
  position:absolute;
  left:2px;
  top:24px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3102 {
  position:absolute;
  left:1206px;
  top:16px;
  width:32px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u3103 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u3104 {
  position:absolute;
  left:627px;
  top:14px;
  width:84px;
  height:37px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u3105 {
  position:absolute;
  left:24px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u3106 {
  position:absolute;
  left:1246px;
  top:0px;
  width:51px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u3107 {
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u3108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u3108 {
  position:absolute;
  left:1169px;
  top:24px;
  width:13px;
  height:16px;
}
#u3109 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3110 {
  position:absolute;
  left:245px;
  top:0px;
  width:99px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3111 {
  position:absolute;
  left:28px;
  top:22px;
  width:43px;
  white-space:nowrap;
}
#u3112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3112 {
  position:absolute;
  left:326px;
  top:0px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3113 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u3114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3114 {
  position:absolute;
  left:421px;
  top:0px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3115 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u3116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3116 {
  position:absolute;
  left:517px;
  top:0px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3117 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u3118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3118 {
  position:absolute;
  left:612px;
  top:0px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u3119 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u3120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u3120 {
  position:absolute;
  left:82px;
  top:18px;
  width:161px;
  height:28px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u3121 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u3122 {
  position:absolute;
  left:82px;
  top:14px;
  width:255px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3123 {
  position:absolute;
  left:347px;
  top:14px;
  width:62px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3124 {
  position:absolute;
  left:445px;
  top:14px;
  width:62px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3125 {
  position:absolute;
  left:540px;
  top:14px;
  width:62px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3126 {
  position:absolute;
  left:638px;
  top:14px;
  width:62px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:633px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3127 {
  position:absolute;
  left:20px;
  top:94px;
  width:1400px;
  height:633px;
}
#u3128 {
  position:absolute;
  left:2px;
  top:308px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u3131 {
  position:absolute;
  left:20px;
  top:102px;
  width:208px;
  height:618px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u3132 {
  position:absolute;
  left:16px;
  top:301px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u3133 {
  position:absolute;
  left:66px;
  top:95px;
  width:8px;
  height:8px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u3134 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  word-wrap:break-word;
}
#u3135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3144 {
  position:absolute;
  left:20px;
  top:151px;
  width:208px;
  height:46px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3145 {
  position:absolute;
  left:50px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u3146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3152 {
  position:absolute;
  left:20px;
  top:197px;
  width:208px;
  height:46px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3153 {
  position:absolute;
  left:50px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u3154 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3157 {
  position:absolute;
  left:20px;
  top:105px;
  width:208px;
  height:46px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3158 {
  position:absolute;
  left:50px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u3159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u3164 {
  position:absolute;
  left:20px;
  top:151px;
  width:208px;
  height:46px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u3165 {
  position:absolute;
  left:50px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u3166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3172 {
  position:absolute;
  left:20px;
  top:243px;
  width:208px;
  height:46px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3173 {
  position:absolute;
  left:50px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u3174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3180 {
  position:absolute;
  left:20px;
  top:289px;
  width:208px;
  height:46px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3181 {
  position:absolute;
  left:50px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u3182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:120px;
}
#u3182 {
  position:absolute;
  left:300px;
  top:187px;
  width:343px;
  height:120px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u3183 {
  position:absolute;
  left:2px;
  top:28px;
  width:339px;
  word-wrap:break-word;
}
#u3184 {
  position:absolute;
  left:20px;
  top:104px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3185 {
  position:absolute;
  left:20px;
  top:153px;
  width:208px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3186 {
  position:absolute;
  left:20px;
  top:200px;
  width:208px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3187 {
  position:absolute;
  left:20px;
  top:247px;
  width:208px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3188 {
  position:absolute;
  left:20px;
  top:294px;
  width:208px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
